.button {
  display: inline-block;
  background: $blue;
  color: white;
  border: none;
  padding: $s-size;
  font-weight: 300;
  font-size: $fz-large;
  line-height: 1;
  text-decoration: none;

  &--transparent {
    background: transparent;
  }
}